@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

//--General Styling--//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  background-color: $very-light-gray;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
}

.title {
  flex-direction: column;
  text-align: center;
  p {
    font-size: 32px;
    font-weight: 200;
    color: $very-dark-blue;
  }
  h1 {
    line-height: 1;
    font-size: 32px;
    color: $very-dark-blue;
  }
  small {
    width: 40%;
    color: $grayish-blue;
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;
  }
}

.features-container {
  margin-top: 32px;

  .col {
    width: 372px;
    &-2 {
      flex-direction: column;
    }
  }

  .feature {
    background-color: #fff;
    width: 340px;
    height: 240px;
    margin: 12px 0;
    border-radius: 5px;
    padding: 32px;
    position: relative;
    box-shadow: 0px 10px 25px -5px rgba(100, 117, 136, 0.432);

    h2 {
      margin-bottom: 8px;
      color: $very-dark-blue;
    }
    p {
      color: $grayish-blue;
      font-size: 13px;
    }
    img {
      position: absolute;
      bottom: 32px;
      right: 32px;
      width: 55px;
      height: 55px;
    }

    &-1 {
      border-top: 5px solid $cyan;
    }
    &-2 {
      border-top: 5px solid $red;
    }
    &-3 {
      border-top: 5px solid $orange;
    }
    &-4 {
      border-top: 5px solid $blue;
    }
  }
}

@import 'media';
