@media (max-width: 1225px) {
  main {
    max-height: 800px;
  }

  .container {
    align-items: flex-start;
    gap: 20px;
  }

  .reports-container {
    width: 520px;
    gap: 20px;
  }
}

@media (max-width: 860px) {
  main {
    max-height: unset;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 32px 16px;
  }

  .dashboard-info {
    height: unset;
    width: 100%;
    max-width: 400px;

    .user {
      @include flex-box(row, flex-start, center, wrap);

      p {
        margin: 0 0 0 20px;
        font-size: 22px;
        line-height: 1;

        small {
          font-size: 16px;
          line-height: 1.8;
        }
      }
    }

    .time-period {
      padding: 24px 64px;

      ul {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        li {
          font-size: 18px;
        }
      }
    }
  }

  .reports-container {
    width: 100%;
    max-width: 400px;

    .report-box {
      width: 100%;
      max-width: 400px;

      .report {
        .title {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .dashboard-info {
    .user {
      img {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: 16px;

        small {
          font-size: 12px;
        }
      }
    }

    .time-period {
      padding: 24px;

      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }

  .reports-container {
    .report-box {
      .icon {
        margin-bottom: -35px;
      }

      .report {
        padding: 20px;

        .title {
          font-size: 13px;
          margin-bottom: 8px;
        }

        .time {
          &.show {
            @include flex-box(row, space-between, center, wrap);
          }

          p {
            font-size: 25px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 535px) and (min-width: 1225px),
  (max-height: 800px) and (min-width: 860px) and (max-width: 1225px),
  (max-height: 1690px) and (min-width: 460px) and (max-width: 860px),
  (max-width: 460px) {
  body {
    height: auto;
    overflow-y: auto;
  }
}
