@media (max-width: 664px) {
  main {
    max-height: 100%;
  }

  .card {
    width: 100%;
    max-width: 330px;

    &-header {
      padding: 32px 12px 32px 24px;
    }

    &-main-context {
      flex-direction: column;

      .sign-up,
      .why-us {
        width: 100%;
        height: max-content;
      }
    }
  }
}

@media (max-height: 615px) {
  body {
    height: auto;
    overflow: auto;
  }
}
