// Variables
$soft-red: #fe7867;
$yellow: #fad400;
$white-color: #ffffff;
$dark-desaturated-cyan: #25564b; //(graphic design text)
$dark-blue: #19536b; // (photography text)
$dark-moderate-cyan: #458c7e; //(footer)
$very-dark-desaturated-blue: #23303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #818498;
$grayish-blue: #a7abae;