@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
//--General Styling--//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow';
  height: 100vh;
  overflow: hidden;
  font-size: 18px;
}

@import 'media';
