@media (max-width: 900px) {
  .container {
    max-width: 600px;
    grid-template-areas:
      'item-1'
      'item-2'
      'item-3'
      'item-4'
      'item-5';
    grid-template-columns: repeat(1, 1fr);

    .item {
      &-1 {
        &::before {
          right: 5px;
        }
      }
    }
  }
}
